[Desktop Entry]
Name=Ambulance
Comment=Starts chromium and opens the website
Icon=/usr/share/pixmaps/chromium-browser.png
Exec=sh /home/pi/Startup/chromium.sh
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None
